.table-row-cell:odd{
    -fx-background-color: #DBDBDB
}

.table-row-cell:even{
    -fx-background-color: white
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-row-cell:filled:selected {
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
   -fx-background-color: #DBDBDB ;
}/*when clicked the text in a row becomes white => unreadable*/

/*.fx-selection-bar{*/
/*   -fx-color: red;*/
/*}*/
/*.fx-selection-bar-non-focused{*/
/*   -fx-color: salmon;*/
/*}*/